<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>passwordRequest</title>
    <link rel="stylesheet" th:href="@{/css/loginPage.css}">
</head>
<body>
    <div class="inputSection" id="inputSection">
        <div class="logo" id="logo">
            <!-- logo 이미지 영역 -->
            <img src="/images/logotest.png" alt="logotest"><br>
            <label>LYNK</label>
        </div>
        <div class="PwdHelpText" id="PwdHelpText">
            <p>비밀번호 문의</p>
            <pre>
비밀번호 분실 시에는 반드시 비밀번호를 초기화해야 합니다.
하단에 아이디 입력 후 전송하면 담당 중간관리자에게 알림이 전송됩니다.
중간관리자 통하여 초기화를 받아주시기 바랍니다.
            </pre>
        </div>
        <div class="inputDiv" id="inputDiv">
            <!-- 동적 처리? 타임리프 혹은 백엔드 처리 등의 확인 필요 -->
            <form action="pwdRequest" method="post">
                <input type="text" name="id" placeholder="아이디" autocomplete="off" required><br>
                <button type="submit">전송</button>
            </form>
        </div>
    </div>
    <script src="/js/saveId.js"></script>
</body>
</html>