.account-current-status {
    background-color: #efefef;
    padding: 22px;
    margin: 20px;
}

.account-list {
    background-color: #efefef;
    padding: 20px;
    margin: 20px;
    height: 640px;
    max-height: 640px;
    overflow-y: auto;
}

.account-full-list {
    background-color: #efefef;
    padding: 20px;
    margin: 20px;
    height: 740px;
    max-height: 740px;
    overflow-y: auto;
}

.button-section button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: end;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table td input[type="checkbox"] {
    margin: 0;
}

.activeAccountCountContainer > tbody > tr {
    border-width: 0;
}

.count {
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
    user-select: none;
}

.ATag-empNo {
    color: black;
}

.ATag-empNo:visited {
    color: black;
}

.ATag-empNo:hover, .ATag-empNo:active {
    color: darkslategray;
}

.exitContainer {
    position: absolute;
    bottom: 2rem;
    left: 17%;
    /*transform: translateX(-50%); 이거 적용하니까 개행이 되길래 잘 조정해보기... */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    color: white;
    opacity: 70%;
}

.exitContainer img {
    width: 40px;
    height: 40px;
}

.exitContainer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* 테이블 표 폭 맞추기 *********************************/
.fix-th {
    position: sticky;
    display: inline-table;
    top: 0;
    z-index: 2;
    width: calc(100% - 17px);
}

.button-section {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1; /* 헤더보다는 아래에 표시되도록 설정 */
    margin-bottom: 10px;
}

.button-section > button {
    border-radius: 10px;
}

.list-section {
    max-height: 500px; /* 본문 높이 설정 */
}

/* 테이블 내부의 스타일 조정 */
table.activeAccountList,
table.activeAccountListBody {
    width: 100%;
    table-layout: fixed; /* 고정 레이아웃 */
    border-collapse: collapse;
}

table.activeAccountList th,
table.activeAccountList td {
    padding: 8px;
    border: 1px solid #383838;
    box-sizing: border-box;
    /*white-space: nowrap; !* 텍스트 줄바꿈 방지 *!*/
    overflow: hidden;
    /*text-overflow: ellipsis; !* 텍스트 넘칠 경우 말줄임표 *!*/
}
/***********************************************/
.profile-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    padding: 50px;
}

.top-section {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.profile-photo {
    width: 120px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-fields {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: center;
}

.bottom-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.field {
    display: flex;
    gap: 40px;
    align-items: center;
}

.field label {
    width: 120px;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.field input,
.field select {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}