<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/notice.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<!-- 오류 메시지 표시를 위한 스크립트 추가 -->
<script th:if="${errorMessage != null}">
    alert("[[${errorMessage}]]");
</script>
<!-- 네비게이션 바 -->
<nav th:replace="~{common/nav :: navFragment}" class="nav-class"></nav>
<script src="/js/common.js"></script>

<!-- 메인 페이지 -->
<div class="right-container">
    <!-- 헤더 영역(달력) -->
    <header th:replace="~{common/header :: headerFragment}"></header>
    <script src="/js/calendar.js"></script>

    <section class="main-content">

        <div class="subHeader-class">
            <a class="subHeaderLink-class" href="/notice/list">공지사항</a>
            <span class="separator">/</span>
            <a class="subHeaderLink-class" href="/notice/search">검색결과</a>
        </div>


        <!-- 내용 시작 -->
        <article class="notice-list">
            <!-- 글 목록 -->
            <table class="board-table">
                <thead>
                <tr>
                    <th class="number-cell">번호</th>
                    <th class="type-cell">속성</th>
                    <th>제목</th>
                    <th class="name-cell">작성자</th>
                    <th class="date-cell">게시일자</th>
                    <th class="views-cell">조회수</th>
                </tr>
                </thead>
                <tbody>
                <!-- 공지사항 (연한 초록색 배경) -->
                <tr th:each="notice : ${notices}"
                    th:class="${notice.noticeHide == 2 ? 'notice-row' : ''}">
                    <td th:text="${notice.noticeNo}"></td>
                    <!-- noticeVote 글 종류 0공지 1투표 2완료 -->
                    <td>
                        <span th:text="${notice.noticeVote == 0 ? '공지' : (notice.noticeVote == 1 ? '투표' : '완료')}"></span>
                    </td>
                    <td>
                        <a th:href="@{/notice/{noticeNo}(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a>
                    </td>
                    <td th:text="${notice.employeeName}"></td>
                    <td th:text="${#temporals.format(notice.noticeDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${notice.viewerCount}"></td>

                </tr>

                </tbody>
            </table>

            <!-- Pagination -->
            <div th:if="${totalPages > 1}" class="pagination-container">
                <ul class="pagination">
                    <li th:class="${currentPage == 0} ? 'disabled' : ''">
                        <a th:if="${currentPage > 0}"
                           th:href="@{/notice/search(page=${currentPage - 1}, searchType=${param.searchType}, keyword=${param.keyword})}"
                           class="page-link">Previous</a>
                        <span th:unless="${currentPage > 0}" class="page-link disabled">Previous</span>
                    </li>

                    <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                        th:class="${pageNum == currentPage} ? 'active' : ''">
                        <a th:href="@{/notice/search(page=${pageNum}, searchType=${param.searchType}, keyword=${param.keyword})}"
                           th:text="${pageNum + 1}" class="page-link"></a>
                    </li>

                    <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                        <a th:if="${currentPage < totalPages - 1}"
                           th:href="@{/notice/search(page=${currentPage + 1}, searchType=${param.searchType}, keyword=${param.keyword})}"
                           class="page-link">Next</a>
                        <span th:unless="${currentPage < totalPages - 1}" class="page-link disabled">Next</span>
                    </li>
                </ul>
            </div>

            <!-- 하부 메뉴  -->
            <div class="search-container">
                <a href="/notice/manager" class="btn btn-primary">관리자페이지</a>
                <form id="searchForm" th:action="@{/notice/search}" method="get">
                    <select name="searchType" class="styled-select">
                        <option value="2">제목</option>
                        <option value="1">공지번호</option>
                        <option value="3">작성자</option>
                    </select>
                    <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요..." th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">검색</button>
                </form>
                <a href="/notice/create" class="btn btn-primary">새 글 작성</a>
            </div>
        </article>
    </section>

    <aside th:replace="~{common/aside :: asideFragment}" class="aside-class"></aside>
    <footer th:replace="~{common/footer :: footerFragment}" class="footer-class"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">

</script>


</body>
</html>